{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}


	<!-- Page Wrapper -->
	<div id="wrapper">

		{% include "sidebar.html.twig" %}

		<!-- Content Wrapper -->
		<div
			id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				{% include "topbar.html.twig" %}

				<!-- Begin Page Content -->
				<div
					class="container-fluid">

					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
						<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
							<i class="fas fa-download fa-sm text-white-50"></i>
							Generate Report</a>
					</div>

					{% include "notifications.html.twig" %}
					{{ form_start(form) }}

					<!-- Content Row -->
					<div class="row">


						<div class="col-xl-3 col-md-6 mb-4">
							{{ form_row(form.firstname) }}
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							{{ form_row(form.lastname) }}
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							{{ form_row(form.age) }}
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							{{ form_row(form.matricule) }}
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							{{ form_row(form.sexe) }}
						</div>

						<div class="col-xl-3 col-md-6 mb-4">
							{{ form_row(form.address) }}
						</div>

						<div class="col-xl-3 col-md-6 mb-4" id="select">
							{{ form_row(form.classroom) }}

						</div>


						<div class="col-xl-3 col-md-6 mb-4">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Créer</button>
						</div>


					</div>

					{{ form_end(form) }}


					<!-- Content Row -->

					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Matricule</th>
								<th scope="col">Nom</th>
								<th scope="col">Prénom</th>
								<th scope="col">Age</th>
								<th scope="col">Sexe</th>
								<th scope="col">Adresse</th>
								<th scope="col">Classe</th>
							</tr>
						</thead>
						<tbody>
							{% for student in listestudent %}

								<tr>
									<th scope="row">{{ loop.index }}</th>
									<td>{{student.Matricule}}</td>
									<td>{{student.firstname}}</td>
									<td>{{student.lastname}}</td>
									<td>{{student.age}}</td>
									<td>{{student.Sexe}}</td>
									<td>{{student.address}}</td>
									<td>{{student.classroom}}</td>


								</tr>
							{% endfor %}

						</tbody>
					</table>


				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			{% include "footer.html.twig" %}

			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	{% block javascripts %}
		<script>
			$(document).ready(function () {
$('.select-class').select2();
$('')
});
		</script>
	{% endblock %}
{% endblock %}
